:root{
    --verydarkblue: #0d2330;
    --darkblue: #112B3C;
    --middleblue:#17405e;
    --lightblue: #205375;
    --ultralightblue: #296994;
    --orange: #F66B0E;
    --white: #EFEFEF;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: repeat(2,60px) auto;
    grid-template-areas:    "header header"
                            "nav nav"
                            "menu content";
    background-color: var(--darkblue);
}
header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid  var(--lightblue);
}
nav{
    grid-area: nav;
    grid-column-start: 2;
    margin: 10px;
    align-self: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.categorias{
    background-color: var(--middleblue);
    padding: 8px;
    border-radius: 12px;
    border: 1px solid var(--lightblue);
    max-height: 30px;
}
#Todo a{
    color: var(--darkblue);
}
#Todo {
    background-color: var(--white);
}
aside{
    grid-area: menu;
    grid-row-start: 2;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.section-1, .section-2, .section-3{
    display: flex;
    gap: 10px;
}
a{
    text-decoration: none;
    color: var(--white);
}
button{
    background-color: var(--darkblue);
    border: none;
}
nav button:hover{
    background-color: var(--ultralightblue) ;
}
aside button:hover{
    background-color: var(--ultralightblue) ;
}
.menu{
    background-color: var(--darkblue);
    border: none;
}
.material-symbols-outlined, .logo, p{
    color: var(--white);
}
.left-button{
    width: 100px;
    padding: 10px;
}
img{
    width: 30px;
}
.section-1 button a {
    display: flex;
    gap: 5px;
}
#letra-logo{
    margin-top: 8px;
}
input{
    width: 20rem;
    background-color: var(--verydarkblue);
    outline: var(--verydarkblue);
}
form{
    display: flex;
}
.section-2{
    width: 30rem;
    justify-content: center;
    gap: 20px;
}
.search{
    background-color: var(--middleblue);
    width: 50px;
}
.mic{
    background-color: var(--verydarkblue);
    width: 40px;
    border-radius: 100%;
}
main{
    border-top: 1px solid var(--lightblue);
    background-color: var(--verydarkblue);
}
.menu label{
    cursor: pointer;
}
aside input{
    display: none;
}
.container{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    top:0; 
    left: 0;
    transition: all 150ms ease;
    visibility: hidden;
}
#btn-menu:checked ~ .container{
    visibility: visible;
}
.container-menu{
    width: 100vw;
    max-width: 250px;
    height: 100vh;
    background-color: var(--darkblue);
    position: absolute;
    transition: all 150ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container .container-menu{
    transform: translateX(0%);
    transition: all 150ms ease;
}
.container-menu nav {
    transform: translateY(15%);
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right:0 ;
}
.container-menu nav a{
    padding: 10px;

}
.container-menu label {
    position:absolute;
    left: 12px;
    top: 17px;
    cursor: pointer;
}
.nav-button a{
    display: flex;
    gap: 20px;
    margin-left: 15px;
}
.division{
    border-bottom: 1px solid var(--lightblue);
    width: 95%;
}

